body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #025088;
    margin-bottom: 4px;
}

button {
    background: #048bec;
    color: white;
    padding: 10px 20px;
    border: 1px solid #048bec;
    font-weight: bold;
}

button:active {
    background:#025088;
    color: white;
    padding: 10px 20px;
    border: 1px solid#025088;
    font-weight: bold;
}

.resText {
    color:#048bec;
    font-weight: bold;
}

